<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="product.css">
    <link rel="stylesheet" href="add_product.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>ChemiTrackX</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
</head>
<body>
    <div class="editbox">
        <div class="headerbox">
            <a href="data"><span class="material-symbols-outlined">
                arrow_back
            </span></a>
            <p>Add new Product</p>
            <a href="data"><span class="material-symbols-outlined" id="close">
                close
            </span></a>
        </div>
        <div class="editingbox">
            <form  action="/add_data" method="POST" id="editBox_form">
                <div class="product">
                    <label for="name">Year:</label>
                    <input type="text" name="year" placeholder="Enter Year" autocomplete="off">
                </div>
                <div class="product">
                    <label for="volume">Imports:</label>
                    <input type="text" name="imports" placeholder="Import in tons" autocomplete="off">
                </div>
                <div class="product">
                    <label for="rate">Exports:</label>
                    <input type="text" name="exports" placeholder="Export in tons" autocomplete="off">
                </div>
                <div class="product">
                    <label for="cost">Production Rate:</label>
                    <input type="text" name="rate" placeholder="Enter Production Rate" autocomplete="off">
                </div>
                <button  type="submit" id="submitedit">Submit</button>
            </form>
        </div>
    </div>
    <script src="../js/product.js"></script>
</body>
</html>