<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChemiTrackX</title>
    <link rel="icon" href="/images/logo.png" type="image/x-icon">
    <!-- google icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <!-- css file -->
    <link rel="stylesheet" href="safety_compilance.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="js/safety_compilance.js" defer></script>
</head>
<body>
    <div class="container">
    <nav>
        <div class="left_nav">
            <div class="home_nav">
                <a href="industry_home"><i class="fa-solid fa-house"></i><p>Home</p></a>
            </div>
        </div>
        <!-- <div class="center_nav">
            <div class="nav_options">
                <p>Products<span class="material-symbols-outlined">
                    expand_more
                </span></P>
                <p>services<span class="material-symbols-outlined">
                    expand_more
                </span></P>
            </div>
        </div> -->
        <div class="right_nav">
            <p id="profile_btn"><i class="fa-solid fa-user"></i>Profile</p> 
        </div>
        <div class="profile">
            <div class="name">
                <a href=""><span class="material-symbols-outlined">
                    factory
                </span><p>Thirumalai Chemicals</p></a>
            </div>
            <div class="settings">
                <a href=""><i class="fa-solid fa-gear"></i><p>Settings</p></a>
            </div>
            <div class="notify">
                <a href=""><i class="fa-solid fa-bell"></i><p>Notifications</p></a>
            </div>
            <div class="out">
                <a href="home"><i class="fa-solid fa-right-from-bracket"></i><p>Logout</p></a>
            </div>
        </div>
        </nav> 
        <marquee behavior="" direction="left">Latest Incident: A series of explosions rocked China-based Jilin Petrochemical's 70,000 tonnes/year aniline complex in Northeast China, killing five and injuring 70.</marquee>
        <div class="main_content">
            <!-- <div  class="white"> -->
                <div class="firstrow">
                    <h1>Welcome to Our Safety Compliance Hub</h1>
                    <p>At Thirumalai Chemicals Limited, we place safety at the core of everything we do. This one-stop Safety Compliance Hub is designed to provide you with comprehensive insights into our commitment to safety, its significance, and the steps we take to ensure compliance.</p>
                    <button>Contact us for more information</button>
                </div>
            <!-- </div> -->
            <div class="white">
                <div class="thirdrow">
                    <div class="left3">
                        <h2>Why Safety Compliance Matter</h2>
                        <p>Safety compliance is more than a legal requirement; it's a moral and ethical responsibility. It serves to protect our employees, partners, and the environment. It also helps us maintain the trust and respect of the communities where we operate. Safety compliance is fundamental to our operations.
                        </p>
                    </div>
                    <div class="right3">
                        <img src="images/safety2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="blue">
                <div class="thirdrow">
                    <div class="right3">
                        <img src="images/whysafety.jpg" alt="">
                    </div>
                    <div class="left3">
                        <h2>Our Commitment to Safety</h2>
                        <p>
                            Our pledge to safety extends beyond meeting regulatory requirements. It's ingrained in our culture and forms the foundation of our work. We are unwavering in our dedication to creating a secure and healthy environment for our team, associates, and surrounding communities. This webpage reflects our steadfast commitment to keeping you informed about our safety practices.
                            </p>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="thirdrow">
                    <div class="left3">
                        <h2>Personal Protective Equipment (PPE)</h2>
                        <p>Personal Protective Equipment (PPE) refers to specialized clothing and gear that individuals wear or use to protect themselves from various workplace hazards or environmental dangers. PPE is designed to minimize the risk of injury or illness and can include items such as helmets, safety goggles, gloves, face masks, respirators, earplugs, safety vests, and more. The specific PPE required depends on the nature of the work and the potential hazards present. Proper selection, use, and maintenance of PPE are crucial for ensuring the safety and well-being of workers in various industries, from construction and healthcare to manufacturing and chemical handling.</p>
                    </div>
                    <div class="right3">
                        <img src="images/eqip.png" alt="">
                    </div>
                </div>
            </div>
            <div class="blue">
                <div class="thirdrow">
                    <div class="right3">
                        <img src="images/safetyindustry.jpg" alt="">
                    </div>
                    <div class="left3">
                        <h2>Safety audits and inspections</h2>
                        <p>Safety audits and inspections in the chemical industry are systematic evaluations of facilities, processes, and safety protocols to ensure compliance with regulations, prevent accidents, and enhance overall safety. These assessments, conducted regularly by trained personnel, help identify and address hazards, verify compliance with industry standards, and foster a culture of continuous improvement, ultimately reducing risks, promoting safety, and avoiding potential legal and financial consequences.</p>
                    </div>
                </div>
            </div>
            <div class="white">
                <div class="thirdrow">
                    <div class="left3">
                        <h2>What You'll Find Here</h2>
                        <p>
                            This single page is your gateway to understanding the safety policies, industry-specific regulations, and the proactive measures we implement to uphold safety standards. Whether you are a member of our team, a business partner, or a concerned community member, you will find information, resources, and insights that will help you engage with our safety initiatives effectively.
                            </p>
                    </div>
                    <div class="right3">
                        <img src="images/find.webp" alt="">
                    </div>
                </div>
            </div>
            <div class="blue">
                <div class="thirdrow">
                    <div class="right3">
                        <img src="images/explore.png" alt="">
                    </div>
                    <div class="left3">
                        <h2>Explore, Inquire, and Collaborate</h2>
                        <p>
                            We encourage you to navigate this page to explore our safety documentation, raise inquiries, or share your valuable feedback. Together, we can build a safer environment and work towards the common goal of achieving safety excellence.
                            </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="/js/safety_compilance.js"></script>
</body>
</html>
